<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ album_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="album-page-container">
        <!-- Song list with audio players on the left -->
        <div class="song-list">
            <h2>{{ album_name }}</h2>
            {% for song in songs %}
                <div class="song-item">
                    <p>{{ song }}</p>
                    <!-- Audio player for each song -->
                    <audio controls>
                        <source src="{{ url_for('song', album_name=album_name, song=song) }}" type="audio/{{ song.split('.')[-1] }}">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            {% endfor %}
            <footer>
                <a href="{{ url_for('home') }}">Back to Albums</a>
            </footer>
        </div>
        
        <!-- Album cover on the right -->
        <div class="album-cover">
            <img src="{{ url_for('static', filename='music/' + album_name + '/cover_resized.jpg') }}" alt="{{ album_name }}">
        </div>
    </div>
</body>
</html>
